.searchContainer {
  margin: 20px auto;
  width: 300px;
  position: relative;
}

.searchInput {
  border: none;
  border-bottom: 1px solid #e3e4dc;
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  color: #393e46;
}

.searchInput:focus {
  outline: none;
}
